:root {
    --inline-padding: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto Sans SC", sans-serif;
}

code,
pre {
  font-family: "Roboto Mono", monospace;
}

.webMain {
  --body-text-color: rgb(var(--mdui-color-on-surface));
  --body-bg-color: rgb(var(--mdui-color-surface));
  --bar-text-color: rgb(var(--mdui-color-on-surface-variant));
  --bar-bg-color: rgb(var(--mdui-color-surface-variant));
}

mdui-top-app-bar,
.footer {
  color: var(--bar-text-color);
}

.body {
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
}

mdui-card {
  height: auto;
  padding: 15px;
}
