// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
}

li, li {
  list-style: none;
}

:root {
  --inline-padding: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", -apple-system, sans-serif;
}

code,
pre {
  font-family: "Jetbrains Mono", "Roboto Mono", monospace;
}

.webMain {
  --body-text-color: rgb(var(--mdui-color-on-surface));
  --body-bg-color: rgb(var(--mdui-color-surface));
  --body-primary-color: rgb(var(--mdui-color-primary));
  --body-on-primary-color: rgb(var(--mdui-color-on-primary));
  --body-primary-container-color: rgb(var(--mdui-color-primary-container));
  --body-on-primary-container-color: rgb(var(--mdui-color-on-primary-container));
  --body-secondary-color: rgb(var(--mdui-color-secondary));
  --body-on-secondary-color: rgb(var(--mdui-color-on-secondary));
  --body-secondary-container-color: rgb(var(--mdui-color-secondary-container));
  --body-on-secondary-container-color: rgb(var(--mdui-color-on-secondary-container));
  --body-tertiary-color: rgb(var(--mdui-color-tertiary));
  --body-on-tertiary-color: rgb(var(--mdui-color-on-tertiary));
  --body-tertiary-container-color: rgb(var(--mdui-color-tertiary-container));
  --body-on-tertiary-container-color: rgb(var(--mdui-color-on-tertiary-container));
  --bar-text-color: rgb(var(--mdui-color-on-surface-variant));
  --bar-bg-color: rgb(var(--mdui-color-surface-variant));
}

mdui-top-app-bar,
.footer {
  color: var(--bar-text-color);
}

.body {
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
}

mdui-card {
  height: auto;
  padding: 15px;
}
