@media screen and (width > 1100px) {
  .main {
    --index-welcome-h1: 3rem;
    --index-welcome-h2: 2rem;
    --index-welcome-h3: 1.6rem;
    --index-welcome-detail: 1.5rem;
  }
}

@media screen and (width <= 1100px) {
  .main {
    --index-welcome-h1: 2.5rem;
    --index-welcome-h2: 1.5rem;
    --index-welcome-detail: 1.2rem;
  }
}

@media screen and (width <= 400px) {
  .main {
    --index-welcome-h1: 2rem;
    --index-welcome-detail: 0.8rem;
  }

  .main .b {
    width: 150px;
    margin: 0 auto;
  }
}
