* {
  box-sizing: border-box;
  letter-spacing: 0.045em;
  font-weight: 550;
}

small {
  font-weight: 400;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 650;
}

:root {
  font-optical-sizing: auto;
  font-synthesis: weight style;
  font-family:
    'Alata',
    'Noto Sans SC',
    system-ui,
    -apple-system,
    sans-serif;

  --inline-padding: 15px;
  --content-line-height: 1.5;

  --mdui-breakpoint-md: 767px;
  --mdui-breakpoint-sm: 424px;
}

body {
  margin: 0;
  padding: 0;
}

code,
pre {
  font-family: 'Jetbrains Mono', monospace;
}

mdui-top-app-bar {
  color: rgb(var(--mdui-color-on-surface-variant));
  background-color: rgba(var(--mdui-color-surface-variant), 0.9);
  -webkit-backdrop-filter: saturate(140%) blur(4.8px);
  backdrop-filter: saturate(140%) blur(4.8px);
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.06);
}

footer {
  color: rgb(var(--mdui-color-on-surface-variant));
  background-color: rgb(var(--mdui-color-surface-variant));
}

.page-container {
  width: 85%;
  max-width: 1920px;
  padding: 30px;
  display: flex;
  flex-direction: column;

  @media (width <= 768px) {
    width: 100%;
  }
  @media (width <= 425px) {
    padding: 22px;
  }
}

.content-container {
  padding: 15px;
}
