* {
  box-sizing: border-box;
  letter-spacing: var(--normal-text-letter-space);
  font-weight: var(--regular-font-weight);
}

:root {
  font-optical-sizing: auto;
  font-synthesis: weight style;
  font-family:
    'InterVariable',
    'Noto Sans SC',
    'MiSans',
    system-ui,
    -apple-system,
    sans-serif;
  font-variant-alternates: styleset(open-digits, disambiguation, round-quotes-and-commas);

  --inline-padding: 15px;
  --content-line-height: 1.5;
  --content-p-margin-block: 1rem;
  --content-li-margin-block: 0.15rem;

  --mdui-breakpoint-md: 767px;
  --mdui-breakpoint-sm: 424px;

  --normal-text-letter-space: 0.03em;
  --compact-text-letter-space: -0.02em;
  --tight-text-letter-space: -0.05em;

  --thin-font-weight: 300;
  --regular-font-weight: 500;
  --bold-font-weight: 600;
}

small {
  font-weight: var(--regular-font-weight);
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--bold-font-weight);
}

body {
  margin: 0;
  padding: 0;
}

code,
pre {
  font-family: 'Jetbrains Mono', monospace;
}

.shiki .iconify {
  background-color: currentColor !important;
}

a:-webkit-any-link,
a:any-link {
  color: inherit;
  text-decoration: none;
}

mdui-top-app-bar {
  color: rgb(var(--mdui-color-on-surface-variant));
  background-color: rgba(var(--mdui-color-surface-variant), 0.9);
  -webkit-backdrop-filter: saturate(140%) blur(4.8px);
  backdrop-filter: saturate(140%) blur(4.8px);
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.06);
}

footer {
  color: rgb(var(--mdui-color-on-surface-variant));
  background-color: rgb(var(--mdui-color-surface-variant));
}

.page-container {
  width: 85%;
  max-width: 1920px;
  padding: 30px;
  display: flex;
  flex-direction: column;

  @media (width <= 768px) {
    width: 100%;
  }
  @media (width <= 425px) {
    padding: 22px;
  }
}

.content-container {
  padding: 15px;
}
